.env
documentations/
reserve_files/
node_modules/
generated/
uploads/
backups/
reports/
logs/
cert/
data.csv
load-test.yml
TRANSFER_CHAT_API.md
fbk.json

# gitignore
/generated/prisma
service_account.json